# Python, SQLite, `.csv` and `.xlsx`

```
> pip install openpyxl
```

### Populating an in-memory SQLite database using `cur.execute(query)` 


```
      CREATE TABLE IF NOT EXISTS users(
      userid INT PRIMARY KEY,
      fname TEXT,
      lname TEXT,
      gender TEXT);
      
      INSERT INTO users(userid, fname, lname, gender) 
      VALUES('00001', 'Nik', 'Piepenbreier', 'male');

```

In [1]:
import sqlite3 # in-memory and local dev
import pandas as pd # pandas
import csv # read and write csv
from openpyxl import Workbook, load_workbook # manipulate xlsx without excel
import datetime

### display nicely in *.ipynb
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)
pd.set_option('display.colheader_justify', 'center')
pd.set_option('display.precision', 3)


conn = sqlite3.connect(':memory:')

# this will create a file if none exists.
# conn = sqlite3.connect('orders.db')


cur = conn.cursor()

def run_save(query):
   cur.execute(query)
   conn.commit()
   pass

def create_table(tablename):
   query = "CREATE TABLE IF NOT EXISTS " + tablename + """(
      userid INT PRIMARY KEY,
      fname TEXT,
      lname TEXT,
      gender TEXT);
      """
   run_save(query)
   pass


def populate():
   
      # query = """CREATE TABLE IF NOT EXISTS users(
      # userid INT PRIMARY KEY,
      # fname TEXT,
      # lname TEXT,
      # gender TEXT);
      # """

      # run_save(query)
      
      create_table('users')
      
      run_save("""CREATE TABLE IF NOT EXISTS orders(
         orderid INT PRIMARY KEY,
         date TEXT,
         userid TEXT,
         total TEXT);
      """)
     

      run_save("""INSERT INTO users(userid, fname, lname, gender) 
         VALUES('00001', 'Nik', 'Piepenbreier', 'male');""")
      

      user = ('00002', 'Lois', 'Lane', 'Female')

      cur.execute("INSERT INTO users VALUES(?, ?, ?, ?);", user)
      conn.commit()

      more_users = [('00003', 'Peter', 'Parker', 'Male'), ('00004', 'Bruce', 'Wayne', 'male')]

      cur.executemany("INSERT INTO users VALUES(?, ?, ?, ?);", more_users)
      conn.commit()

      customers = [('00005', 'Stephanie', 'Stewart', 'female'), ('00006', 'Sincere', 'Sherman', 'female'), ('00007', 'Sidney', 'Horn', 'male'), ('00008', 'Litzy', 'Yates', 'female'), ('00009', 'Jaxon', 'Mills', 'male'), ('00010', 'Paul', 'Richard', 'male'), ('00011', 'Kamari', 'Holden', 'female'), ('00012', 'Gaige', 'Summers', 'female'), ('00013', 'Andrea', 'Snow', 'female'), ('00014', 'Angelica', 'Barnes', 'female'), ('00015', 'Leah', 'Pitts', 'female'), ('00016', 'Dillan', 'Olsen', 'male'), ('00017', 'Joe', 'Walsh', 'male'), ('00018', 'Reagan', 'Cooper', 'male'), ('00019', 'Aubree', 'Hogan', 'female'), ('00020', 'Avery', 'Floyd', 'male'), ('00021', 'Elianna', 'Simmons', 'female'), ('00022', 'Rodney', 'Stout', 'male'), ('00023', 'Elaine', 'Mcintosh', 'female'), ('00024', 'Myla', 'Mckenzie', 'female'), ('00025', 'Alijah', 'Horn', 'female'), ('00026', 'Rohan', 'Peterson', 'male'), ('00027', 'Irene', 'Walters', 'female'), ('00028', 'Lilia', 'Sellers', 'female'), ('00029', 'Perla', 'Jefferson', 'female'), ('00030', 'Ashley', 'Klein', 'female')]
      orders = [('00001', '2020-01-01', '00025', '178'), ('00002', '2020-01-03', '00025', '39'), ('00003', '2020-01-07', '00016', '153'), ('00004', '2020-01-10', '00015', '110'), ('00005', '2020-01-11', '00024', '219'), ('00006', '2020-01-12', '00029', '37'), ('00007', '2020-01-14', '00028', '227'), ('00008', '2020-01-18', '00010', '232'), ('00009', '2020-01-22', '00016', '236'), ('00010', '2020-01-26', '00017', '116'), ('00011', '2020-01-28', '00028', '221'), ('00012', '2020-01-31', '00021', '238'), ('00013', '2020-02-02', '00015', '177'), ('00014', '2020-02-05', '00025', '76'), ('00015', '2020-02-08', '00022', '245'), ('00016', '2020-02-12', '00008', '180'), ('00017', '2020-02-14', '00020', '190'), ('00018', '2020-02-18', '00030', '166'), ('00019', '2020-02-22', '00002', '168'), ('00020', '2020-02-26', '00021', '174'), ('00021', '2020-02-29', '00017', '126'), ('00022', '2020-03-02', '00019', '211'), ('00023', '2020-03-05', '00030', '144'), ('00024', '2020-03-09', '00012', '112'), ('00025', '2020-03-10', '00006', '45'), ('00026', '2020-03-11', '00004', '200'), ('00027', '2020-03-14', '00015', '226'), ('00028', '2020-03-17', '00030', '189'), ('00029', '2020-03-20', '00004', '152'), ('00030', '2020-03-22', '00026', '239'), ('00031', '2020-03-23', '00012', '135'), ('00032', '2020-03-24', '00013', '211'), ('00033', '2020-03-27', '00030', '226'), ('00034', '2020-03-28', '00007', '173'), ('00035', '2020-03-30', '00010', '144'), ('00036', '2020-04-01', '00017', '185'), ('00037', '2020-04-03', '00009', '95'), ('00038', '2020-04-06', '00009', '138'), ('00039', '2020-04-10', '00025', '223'), ('00040', '2020-04-12', '00019', '118'), ('00041', '2020-04-15', '00024', '132'), ('00042', '2020-04-18', '00008', '238'), ('00043', '2020-04-21', '00003', '50'), ('00044', '2020-04-25', '00019', '98'), ('00045', '2020-04-26', '00017', '167'), ('00046', '2020-04-28', '00009', '215'), ('00047', '2020-05-01', '00014', '142'), ('00048', '2020-05-05', '00022', '173'), ('00049', '2020-05-06', '00015', '80'), ('00050', '2020-05-07', '00017', '37'), ('00051', '2020-05-08', '00002', '36'), ('00052', '2020-05-10', '00022', '65'), ('00053', '2020-05-14', '00019', '110'), ('00054', '2020-05-18', '00017', '36'), ('00055', '2020-05-21', '00008', '163'), ('00056', '2020-05-24', '00024', '91'), ('00057', '2020-05-26', '00028', '154'), ('00058', '2020-05-30', '00022', '130'), ('00059', '2020-05-31', '00017', '119'), ('00060', '2020-06-01', '00024', '137'), ('00061', '2020-06-03', '00017', '206'), ('00062', '2020-06-04', '00013', '100'), ('00063', '2020-06-05', '00021', '187'), ('00064', '2020-06-09', '00025', '170'), ('00065', '2020-06-11', '00011', '149'), ('00066', '2020-06-12', '00007', '195'), ('00067', '2020-06-14', '00015', '30'), ('00068', '2020-06-16', '00002', '246'), ('00069', '2020-06-20', '00028', '163'), ('00070', '2020-06-22', '00005', '184'), ('00071', '2020-06-23', '00022', '68'), ('00072', '2020-06-27', '00013', '92'), ('00073', '2020-06-30', '00022', '149'), ('00074', '2020-07-04', '00002', '65'), ('00075', '2020-07-05', '00017', '88'), ('00076', '2020-07-09', '00007', '156'), ('00077', '2020-07-13', '00010', '26'), ('00078', '2020-07-16', '00008', '55'), ('00079', '2020-07-20', '00019', '81'), ('00080', '2020-07-22', '00011', '78'), ('00081', '2020-07-23', '00026', '166'), ('00082', '2020-07-27', '00014', '65'), ('00083', '2020-07-30', '00021', '205'), ('00084', '2020-08-01', '00026', '140'), ('00085', '2020-08-05', '00006', '236'), ('00086', '2020-08-06', '00021', '208'), ('00087', '2020-08-07', '00021', '169'), ('00088', '2020-08-08', '00004', '157'), ('00089', '2020-08-11', '00017', '71'), ('00090', '2020-08-13', '00025', '89'), ('00091', '2020-08-16', '00014', '249'), ('00092', '2020-08-18', '00012', '59'), ('00093', '2020-08-19', '00013', '121'), ('00094', '2020-08-20', '00025', '179'), ('00095', '2020-08-22', '00017', '208'), ('00096', '2020-08-26', '00024', '217'), ('00097', '2020-08-28', '00004', '206'), ('00098', '2020-08-30', '00017', '114'), ('00099', '2020-08-31', '00017', '169'), ('00100', '2020-09-02', '00022', '226')]

      cur.executemany("INSERT INTO users VALUES(?, ?, ?, ?);", customers)
      cur.executemany("INSERT INTO orders VALUES(?, ?, ?, ?);", orders)
      conn.commit()

populate()


cur.execute("""SELECT *, users.fname, users.lname FROM orders
    LEFT JOIN users ON users.userid=orders.userid;""")
results = cur.fetchall()
df = pd.DataFrame(results)
display(df)

cur.execute("SELECT * FROM users;")
all_results = cur.fetchall()
df = pd.DataFrame(all_results)
df.to_excel('filename.xlsx')
display(df)

     0       1        2     3     4     5          6         7        8          9
0     1  2020-01-01  00025  178  25     Alijah       Horn  female     Alijah       Horn
1     2  2020-01-03  00025   39  25     Alijah       Horn  female     Alijah       Horn
2     3  2020-01-07  00016  153  16     Dillan      Olsen    male     Dillan      Olsen
3     4  2020-01-10  00015  110  15       Leah      Pitts  female       Leah      Pitts
4     5  2020-01-11  00024  219  24       Myla   Mckenzie  female       Myla   Mckenzie
5     6  2020-01-12  00029   37  29      Perla  Jefferson  female      Perla  Jefferson
6     7  2020-01-14  00028  227  28      Lilia    Sellers  female      Lilia    Sellers
7     8  2020-01-18  00010  232  10       Paul    Richard    male       Paul    Richard
8     9  2020-01-22  00016  236  16     Dillan      Olsen    male     Dillan      Olsen
9    10  2020-01-26  00017  116  17        Joe      Walsh    male        Joe      Walsh
10   11  2020-01-28  00028  221  28      Lilia    Sellers  female      Lilia    Sellers
11   12  2020-01-31  00021  238  21    Elianna    Simmons  female    Elianna    Simmons
12   13  2020-02-02  00015  177  15       Leah      Pitts  female       Leah      Pitts
13   14  2020-02-05  00025   76  25     Alijah       Horn  female     Alijah       Horn
14   15  2020-02-08  00022  245  22     Rodney      Stout    male     Rodney      Stout
15   16  2020-02-12  00008  180   8      Litzy      Yates  female      Litzy      Yates
16   17  2020-02-14  00020  190  20      Avery      Floyd    male      Avery      Floyd
17   18  2020-02-18  00030  166  30     Ashley      Klein  female     Ashley      Klein
18   19  2020-02-22  00002  168   2       Lois       Lane  Female       Lois       Lane
19   20  2020-02-26  00021  174  21    Elianna    Simmons  female    Elianna    Simmons
20   21  2020-02-29  00017  126  17        Joe      Walsh    male        Joe      Walsh
21   22  2020-03-02  00019  211  19     Aubree      Hogan  female     Aubree      Hogan
22   23  2020-03-05  00030  144  30     Ashley      Klein  female     Ashley      Klein
23   24  2020-03-09  00012  112  12      Gaige    Summers  female      Gaige    Summers
24   25  2020-03-10  00006   45   6    Sincere    Sherman  female    Sincere    Sherman
25   26  2020-03-11  00004  200   4      Bruce      Wayne    male      Bruce      Wayne
26   27  2020-03-14  00015  226  15       Leah      Pitts  female       Leah      Pitts
27   28  2020-03-17  00030  189  30     Ashley      Klein  female     Ashley      Klein
28   29  2020-03-20  00004  152   4      Bruce      Wayne    male      Bruce      Wayne
29   30  2020-03-22  00026  239  26      Rohan   Peterson    male      Rohan   Peterson
30   31  2020-03-23  00012  135  12      Gaige    Summers  female      Gaige    Summers
31   32  2020-03-24  00013  211  13     Andrea       Snow  female     Andrea       Snow
32   33  2020-03-27  00030  226  30     Ashley      Klein  female     Ashley      Klein
33   34  2020-03-28  00007  173   7     Sidney       Horn    male     Sidney       Horn
34   35  2020-03-30  00010  144  10       Paul    Richard    male       Paul    Richard
35   36  2020-04-01  00017  185  17        Joe      Walsh    male        Joe      Walsh
36   37  2020-04-03  00009   95   9      Jaxon      Mills    male      Jaxon      Mills
37   38  2020-04-06  00009  138   9      Jaxon      Mills    male      Jaxon      Mills
38   39  2020-04-10  00025  223  25     Alijah       Horn  female     Alijah       Horn
39   40  2020-04-12  00019  118  19     Aubree      Hogan  female     Aubree      Hogan
40   41  2020-04-15  00024  132  24       Myla   Mckenzie  female       Myla   Mckenzie
41   42  2020-04-18  00008  238   8      Litzy      Yates  female      Litzy      Yates
42   43  2020-04-21  00003   50   3      Peter     Parker    Male      Peter     Parker
43   44  2020-04-25  00019   98  19     Aubree      Hogan  female     Aubree      Hogan
44   45  2020-04-26  00017  167  17        Joe      Walsh    male        Joe      Walsh
45   46  2020-04-28  00009  215   9      Jaxon      Mills    male      Jaxon      Mills
46   47  2020-05-01  00014  142  14   Angelica     Barnes  female   Angelica     Barnes
47   48  2020-05-05  00022  173  22     Rodney      Stout    male     Rodney      Stout
48   49  2020-05-06  00015   80  15       Leah      Pitts  female       Leah      Pitts
49   50  2020-05-07  00017   37  17        Joe      Walsh    male        Joe      Walsh
50   51  2020-05-08  00002   36   2       Lois       Lane  Female       Lois       Lane
51   52  2020-05-10  00022   65  22     Rodney      Stout    male     Rodney      Stout
52   53  2020-05-14  00019  110  19     Aubree      Hogan  female     Aubree      Hogan
53   54  2020-05-18  00017   36  17        Joe      Walsh    male        Joe      Walsh
54   55  2020-05-21  00008  163   8      Litzy      Yates  female      Litzy      Yates
55   56  2020-05-24  00024   91  24       Myla   Mckenzie  female       Myla   Mckenzie
56   57  2020-05-26  00028  154  28      Lilia    Sellers  female      Lilia    Sellers
57   58  2020-05-30  00022  130  22     Rodney      Stout    male     Rodney      Stout
58   59  2020-05-31  00017  119  17        Joe      Walsh    male        Joe      Walsh
59   60  2020-06-01  00024  137  24       Myla   Mckenzie  female       Myla   Mckenzie
60   61  2020-06-03  00017  206  17        Joe      Walsh    male        Joe      Walsh
61   62  2020-06-04  00013  100  13     Andrea       Snow  female     Andrea       Snow
62   63  2020-06-05  00021  187  21    Elianna    Simmons  female    Elianna    Simmons
63   64  2020-06-09  00025  170  25     Alijah       Horn  female     Alijah       Horn
64   65  2020-06-11  00011  149  11     Kamari     Holden  female     Kamari     Holden
65   66  2020-06-12  00007  195   7     Sidney       Horn    male     Sidney       Horn
66   67  2020-06-14  00015   30  15       Leah      Pitts  female       Leah      Pitts
67   68  2020-06-16  00002  246   2       Lois       Lane  Female       Lois       Lane
68   69  2020-06-20  00028  163  28      Lilia    Sellers  female      Lilia    Sellers
69   70  2020-06-22  00005  184   5  Stephanie    Stewart  female  Stephanie    Stewart
70   71  2020-06-23  00022   68  22     Rodney      Stout    male     Rodney      Stout
71   72  2020-06-27  00013   92  13     Andrea       Snow  female     Andrea       Snow
72   73  2020-06-30  00022  149  22     Rodney      Stout    male     Rodney      Stout
73   74  2020-07-04  00002   65   2       Lois       Lane  Female       Lois       Lane
74   75  2020-07-05  00017   88  17        Joe      Walsh    male        Joe      Walsh
75   76  2020-07-09  00007  156   7     Sidney       Horn    male     Sidney       Horn
76   77  2020-07-13  00010   26  10       Paul    Richard    male       Paul    Richard
77   78  2020-07-16  00008   55   8      Litzy      Yates  female      Litzy      Yates
78   79  2020-07-20  00019   81  19     Aubree      Hogan  female     Aubree      Hogan
79   80  2020-07-22  00011   78  11     Kamari     Holden  female     Kamari     Holden
80   81  2020-07-23  00026  166  26      Rohan   Peterson    male      Rohan   Peterson
81   82  2020-07-27  00014   65  14   Angelica     Barnes  female   Angelica     Barnes
82   83  2020-07-30  00021  205  21    Elianna    Simmons  female    Elianna    Simmons
83   84  2020-08-01  00026  140  26      Rohan   Peterson    male      Rohan   Peterson
84   85  2020-08-05  00006  236   6    Sincere    Sherman  female    Sincere    Sherman
85   86  2020-08-06  00021  208  21    Elianna    Simmons  female    Elianna    Simmons
86   87  2020-08-07  00021  169  21    Elianna    Simmons  female    Elianna    Simmons
87   88  2020-08-08  00004  157   4      Bruce      Wayne    male      Bruce      Wayne
88   89  2020-08-11  00017   71  17        Joe      Walsh    male        Joe      Walsh
89   90  2020-08-13  00025   89  25     Alijah       Horn  female     Alijah       Horn
90   91  2020-08-16  00014  249  14   Angelica     Barnes  female   Angelica     Barnes
91   92  2020-08-18  00012   59  12      Gaige    Summers  female      Gaige    Summers
92   93  2020-08-19  00013  121  13     Andrea       Snow  female     Andrea       Snow
93   94  2020-08-20  00025  179  25     Alijah       Horn  female     Alijah       Horn
94   95  2020-08-22  00017  208  17        Joe      Walsh    male        Joe      Walsh
95   96  2020-08-26  00024  217  24       Myla   Mckenzie  female       Myla   Mckenzie
96   97  2020-08-28  00004  206   4      Bruce      Wayne    male      Bruce      Wayne
97   98  2020-08-30  00017  114  17        Joe      Walsh    male        Joe      Walsh
98   99  2020-08-31  00017  169  17        Joe      Walsh    male        Joe      Walsh
99  100  2020-09-02  00022  226  22     Rodney      Stout    male     Rodney      Stout

     0     1            2          3
0    1        Nik  Piepenbreier    male
1    2       Lois          Lane  Female
2    3      Peter        Parker    Male
3    4      Bruce         Wayne    male
4    5  Stephanie       Stewart  female
5    6    Sincere       Sherman  female
6    7     Sidney          Horn    male
7    8      Litzy         Yates  female
8    9      Jaxon         Mills    male
9   10       Paul       Richard    male
10  11     Kamari        Holden  female
11  12      Gaige       Summers  female
12  13     Andrea          Snow  female
13  14   Angelica        Barnes  female
14  15       Leah         Pitts  female
15  16     Dillan         Olsen    male
16  17        Joe         Walsh    male
17  18     Reagan        Cooper    male
18  19     Aubree         Hogan  female
19  20      Avery         Floyd    male
20  21    Elianna       Simmons  female
21  22     Rodney         Stout    male
22  23     Elaine      Mcintosh  female
23  24       Myla      Mckenzie  female
24  25     Alijah          Horn  female
25  26      Rohan      Peterson    male
26  27      Irene       Walters  female
27  28      Lilia       Sellers  female
28  29      Perla     Jefferson  female
29  30     Ashley         Klein  female

#### Write a CSV file from a dictionary

In [2]:

 
# my data rows as dictionary objects
mydict =[{'branch': 'COE', 'cgpa': '9.0',
          'name': 'Nikhil', 'year': '2'},
        {'branch': 'COE', 'cgpa': '9.1',
         'name': 'Sanchit', 'year': '2'},
        {'branch': 'IT', 'cgpa': '9.3',
         'name': 'Aditya', 'year': '2'},
        {'branch': 'SE', 'cgpa': '9.5',
         'name': 'Sagar', 'year': '1'},
        {'branch': 'MCE', 'cgpa': '7.8',
         'name': 'Prateek', 'year': '3'},
        {'branch': 'EP', 'cgpa': '9.1',
         'name': 'Sahil', 'year': '2'}]
 
# field names
fields = ['name', 'branch', 'year', 'cgpa']
 
# name of csv file
filename = "example.csv"
 
# writing to csv file
with open(filename, 'w') as csvfile:
    # creating a csv dict writer object
    writer = csv.DictWriter(csvfile, fieldnames = fields)
     
    # writing headers (field names)
    writer.writeheader()
     
    # writing data rows
    writer.writerows(mydict)

#### Read a CSV file

In [3]:


# seed a database using a csv file
# conn = sqlite3.connect('example.db')
conn = sqlite3.connect(":memory:")
# c = conn.cursor()
users = pd.read_csv("example.csv")
users.to_sql("users", conn, if_exists="append", index=False, chunksize=10000)


cur = conn.cursor()

cur.execute("SELECT * FROM users;")
all_results = cur.fetchall()
df = pd.DataFrame(all_results)
df.to_excel('from-csv.xlsx')
# d = df.to_dict()
# csv = df.to_csv()
# md = pd.DataFrame(all_results).to_markdown()
display(df)

cur.execute("SELECT * FROM users;")
one_result = cur.fetchone()
print(one_result)

cur.execute("SELECT * FROM users;")
three_results = cur.fetchmany(3)
print(three_results)

cur.execute("DELETE FROM users WHERE name='Sahil';")
conn.commit()

cur.execute("select * from users where name='Sagar'")
print(cur.fetchall())

cur.execute("select * from users where year=3")
print(cur.fetchall())

     0      1    2   3
0   Nikhil  COE  2  9.0
1  Sanchit  COE  2  9.1
2   Aditya   IT  2  9.3
3    Sagar   SE  1  9.5
4  Prateek  MCE  3  7.8
5    Sahil   EP  2  9.1

('Nikhil', 'COE', 2, 9.0)
[('Nikhil', 'COE', 2, 9.0), ('Sanchit', 'COE', 2, 9.1), ('Aditya', 'IT', 2, 9.3)]
[('Sagar', 'SE', 1, 9.5)]
[('Prateek', 'MCE', 3, 7.8)]

### Write an `.xlsx` file

In [4]:

PATH = ""

def write_xlsx(filename, value):
  """
    Write *.xlsx file using openpyxl which does not require Excel, or require Excel to be open.
  """  
  sample = Workbook()
  # grab the active worksheet
  ws = sample.active
  # Data can be assigned directly to cells
  ws['A1'] = 'time_updated'
  ws['B1'] = 'orderid'
  ws['C1'] = 'userid'
  # Rows can also be appended
  ws.append([1, 2, 3])
  # Python types will automatically be converted
  ws['A2'] = datetime.datetime.now()
  ws['B2'] = value
  ws['C2'] = '0001'
  # Save the file
  sample.save(PATH + filename + ".xlsx")
  
  xls = pd.ExcelFile(PATH + filename + ".xlsx")
  df = xls.parse(xls.sheet_names[0])
  print(df.to_dict())

## Filename could be `0123_Gateway...` for example  

write_xlsx('test', '05432')

{'time_updated': {0: Timestamp('2023-05-16 23:25:28.181000')}, 'orderid': {0: 5432}, 'userid': {0: 1}}

### Read `*.xlsx` file using `openpyxl`.

In [5]:
def read_xlsx(filename):
  """
  Read *.xlsx file using openpyxl.
  """
  wb = load_workbook(PATH + filename + '.xlsx')
  
  sheet= wb["Sheet1"]

  df = pd.DataFrame(sheet.values)
  display(df)
  
  cell_obj = sheet['A1': 'D32']
  
  print('sheets: ', wb.sheetnames)
  print('')
  for cell1, cell2, cell3, cell4 in cell_obj:
   if (cell1.value and cell2.value != None and cell1.value != '?'):
        print(cell1.value, cell2.value, cell3.value, cell4.value)
  print(wb['Sheet1']['E3'].value)
          

read_xlsx('from-csv')

    0     1      2    3   4
0  NaN        0    1  2  3.0
1  0.0   Nikhil  COE  2  9.0
2  1.0  Sanchit  COE  2  9.1
3  2.0   Aditya   IT  2  9.3
4  3.0    Sagar   SE  1  9.5
5  4.0  Prateek  MCE  3  7.8
6  5.0    Sahil   EP  2  9.1

sheets:  ['Sheet1']

1 Sanchit COE 2
2 Aditya IT 2
3 Sagar SE 1
4 Prateek MCE 3
5 Sahil EP 2
9.1

### Links

- https://towardsdatascience.com/python-sqlite-tutorial-the-ultimate-guide-fdcb8d7a4f30
- https://www.stackvidhya.com/pretty-print-dataframe/
- https://datagy.io/pandas-to-excel/